body {
    background-color: lavender;
    font-size: 1.25em;
    padding: 5% 10%;
    font-family: 'Muli', sans-serif;
}

h1, h4 {
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
}

.half-width {
    margin: 10px 20px;
}

.third-width {
    margin: 10px auto;
    transition: all .2s ease-in-out; 
}
     
.third-width:hover { 
    transform: scale(1.1); 
}

span {
    display: inline-block;
    font-size: 1.1em;
    color: #400080;
    transition: all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

span:hover{
    transform: scale(1.1);
}

#about {
    margin-bottom: 0;
    line-height: 1.5;
}

img {
    border-radius: 50%;
    border: 3px solid white;
    transition: all 1s cubic-bezier(0, 2.18, 0.29, 1.58);
}

img:hover {
    transform: rotate(10deg);
}

#socials ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

#socials ul li {
    margin: 5px 20px;
    padding: 10px 10px 5px 10px;
    font-size: 2em;
    border: 1px solid transparent;
}

#socials ul li:hover {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 2px lightgray;
}

